In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('/Users/apple/Downloads/sales_data_1.csv')
df

,Date,Firm bought from,Buying price,Customer,Selling price,Quantity sold
0,21/08/23,Vendor6,72.11,Customer7,91.58,44
1,21/08/23,Vendor4,75.08,Customer7,83.71,17
2,21/08/23,Vendor7,83.93,Customer2,103.76,15
3,21/08/23,Vendor7,52.01,Customer3,64.53,7
4,21/08/23,Vendor2,98.91,Customer5,140.92,1
...,...,...,...,...,...,...
65,27/08/23,Vendor4,64.82,Customer6,87.45,18
66,27/08/23,Vendor8,88.79,Customer3,105.59,5
67,27/08/23,Vendor5,63.30,Customer5,92.92,32
68,27/08/23,Vendor5,94.06,Customer5,125.67,4
69,27/08/23,Vendor5,56.28,Customer6,82.16,1

1.Overall gross margin

In [4]:
# Calculate the total revenue
df['Total Revenue'] = df['Selling price'] * df['Quantity sold']
total_revenue = df['Total Revenue'].sum()

In [5]:
# Calculate the total cost of goods sold (COGS)
df['Total COGS'] = df['Buying price'] * df['Quantity sold']
total_cogs = df['Total COGS'].sum()

In [6]:
# Calculate the gross margin
gross_margin = total_revenue - total_cogs

In [8]:
# Print the result
print(f"Total Gross Margin: {gross_margin}")

Total Gross Margin: 31482.749999999985

2.Most profitable vendor

In [10]:
# Calculate the total revenue for each vendor
df['Total Revenue'] = df['Selling price'] * df['Quantity sold']

In [11]:
# Calculate the total COGS for each vendor
df['Total COGS'] = df['Buying price'] * df['Quantity sold']

In [12]:
# Calculate the profit for each vendor
df['Profit'] = df['Total Revenue'] - df['Total COGS']

In [13]:
# Group the data by the 'Firm bought from' column and sum the profits for each vendor
vendor_profit = df.groupby('Firm bought from')['Profit'].sum()

In [14]:
# Find the vendor with the highest profit
most_profitable_vendor = vendor_profit.idxmax()
highest_profit = vendor_profit.max()

In [15]:
# Print the most profitable vendor and their profit
print(f"The most profitable vendor is {most_profitable_vendor} with a profit of {highest_profit}.")

The most profitable vendor is Vendor4 with a profit of 6903.31.

3.Least profitable customer

In [22]:
# Calculate the total revenue for each customer
df['Total Revenue'] = df['Selling price'] * df['Quantity sold']

In [23]:
# Calculate the total COGS for each customer
df['Total COGS'] = df['Buying price'] * df['Quantity sold']

In [24]:
# Calculate the profit for each customer
df['Profit'] = df['Total Revenue'] - df['Total COGS']

In [25]:
# Group the data by the 'Customer' column and sum the profits for each customer
customer_profit = df.groupby('Customer')['Profit'].sum()

In [26]:
# Find the customer with the least profit
least_profitable_customer = customer_profit.idxmin()
lowest_profit = customer_profit.min()

In [27]:
# Print the least profitable customer and their profit
print(f"The least profitable customer is {least_profitable_customer} with a profit of {lowest_profit}.")

The least profitable customer is Customer3 with a profit of 1055.0499999999997.

4.Most Profitable day of the week

In [28]:
# Convert the 'Date' column to a datetime data type
df['Date'] = pd.to_datetime(df['Date'])

In [29]:
# Extract the day of the week (0 = Monday, 6 = Sunday)
df['Day of the Week'] = df['Date'].dt.dayofweek

In [30]:
# Calculate the total revenue for each transaction
df['Total Revenue'] = df['Selling price'] * df['Quantity sold']

In [31]:
# Calculate the total COGS for each transaction
df['Total COGS'] = df['Buying price'] * df['Quantity sold']

In [32]:
# Calculate the profit for each transaction
df['Profit'] = df['Total Revenue'] - df['Total COGS']

In [33]:
# Group the data by the day of the week and sum the profits for each day
daily_profit = df.groupby('Day of the Week')['Profit'].sum()

In [34]:
# Find the day of the week with the highest profit
most_profitable_day = daily_profit.idxmax()
highest_profit = daily_profit.max()

In [35]:
# Print the most profitable day of the week and the profit
print(f"The most profitable day of the week is {most_profitable_day} with a profit of {highest_profit}.")

The most profitable day of the week is 0 with a profit of 6847.339999999999.

5.Least profitable day of the week

In [36]:
# Find the day of the week with the lowest profit
least_profitable_day = daily_profit.idxmin()
lowest_profit = daily_profit.min()

In [37]:
# Print the least profitable day of the week and the profit
print(f"The least profitable day of the week is {least_profitable_day} with a profit of {lowest_profit}.")

The least profitable day of the week is 6 with a profit of 3086.46.